:root {
  --color-primary: #fd5e53;
  --color-secondary: #21bf73;
  --color-bg: #fafafa;
  --color-bg-shades: #e8fff4;
  --color-border: #cbf1de;
  --color-text: #30475e;
  --color-white: #fff;
  --color-dark: #30475e;
  --text-font: 'Poppins', Arial, Helvetica, sans-serif;
}

body.dark-theme {
  --color-bg: #222831;
  --color-bg-shades: #4b4b4d;
  --color-text: #fff;
  --color-border: #395e4d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(180deg, var(--color-bg), var(--color-bg-shades));
  min-height: 100vh;
  color: var(--color-text);
  font-size: 1.4rem;
  font-family: var(--text-font);
}

.disabled-area {
  pointer-events: none;
  opacity: 0.5;
}

input,
button,
select {
  font-family: var(--text-font);
  color: var(--color-text);
}

button:hover,
select:hover {
  cursor: pointer;
  opacity: 0.9;
}

input:focus,
button:focus {
  outline: none;
}

.switch {
  position: absolute;
  top: 3rem;
  right: 3rem;
  width: 4rem;
  height: 4rem;
  background-color: var(--color-primary);
  font-size: 4rem;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 1px 2px 3px #00000010;
}

.switch:hover {
  cursor: pointer;
  transform: translateY(0);
}

.switch:active {
  transform: translateY(3px);
}

.switch img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.app-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.project-area {
  flex-basis: 25%;
}

.todo-area {
  flex-basis: 65%;
}

.app-header {
  margin: 3.5rem 0;
}

.app-header__title {
  display: inline-flex;
  align-items: flex-start;
}

.app-header__text {
  font-weight: 600;
  font-size: 2rem;
  margin: 0 5px;
  border-bottom: 5px solid var(--color-secondary);
}

.app-header__symbol {
  color: var(--color-primary);
  font-weight: 900;
  border: none;
  font-size: 2.6rem;
}

.project-form {
  display: flex;
  justify-content: space-between;
}

.project-input {
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid var(--color-secondary);
  padding: 1rem 0;
  margin-right: 2rem;
}

.project-header h3 {
  margin: 3rem 0;
  border-bottom: 2px solid var(--color-border);
  padding-bottom: 1rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
}

.project-list ul {
  list-style: none;
}

.project {
  outline: none;
  background-color: transparent;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--color-border);
  padding: 1rem 2rem;
  transition: all 0.5s ease-out;
  opacity: 0.75;
}

.project:hover,
.project--active {
  background-color: var(--color-bg);
  box-shadow: 0 1px 1px 1px #00000005;
  border-color: var(--color-secondary);
  opacity: 1;
}

.project--active {
  position: relative;
}

.project--active:after {
  content: '\276F';
  font-size: 2rem;
  color: var(--color-secondary);
}

.project-delete {
  font-size: 2rem;
  color: var(--color-primary);
  display: inline-block;
  border-radius: 50%;
  backface-visibility: hidden;
  transition: all 0.2s ease;
}

.project-delete:hover {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background-color: var(--color-primary);
  color: var(--color-bg);
}

.project-button {
  border: none;
  color: var(--color-white);
  background-color: var(--color-secondary);
  padding: 1rem 1.5rem;
}

button > img {
  width: 14px;
}

.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5vh 0;
  padding-bottom: 1.5rem;
  line-height: 1.2;
  border-bottom: 2px solid var(--color-border);
}

.todo-header__title {
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.todo-header__info {
  font-size: 1.6rem;
  color: var(--color-secondary);
}

.todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.todo-input,
.todo-button {
  padding: 1rem 2rem;
  background-color: var(--color-bg);
  border: 2px solid var(--color-dark);
}

.todo-input {
  width: 280px;
  border-right: 0;
  font-size: 1.4rem;
}

.todo-button {
  padding: 1.05rem 2.5rem;
  border-left: 0;
  color: var(--color-white);
  border-color: var(--color-primary);
  background-color: var(--color-primary);
  transition: all 0.3s;
}

.todo-select {
  margin-left: 2rem;
  position: relative;
}

.todo-select::after {
  content: '\2771';
  transform: rotate(90deg);
  color: var(--color-white);
  background-color: var(--color-secondary);
  padding: 1.25rem 2rem;
  position: absolute;
  top: 0;
  right: 0px;
  cursor: pointer;
  pointer-events: none;
}

.todo-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
  padding: 1rem;
  padding-right: 5rem;
  border: 2px solid var(--color-dark);
  background-color: var(--color-bg);
}

.todo-container {
  max-width: 420px;
  margin: 4rem auto;
}

.todo-list .todo {
  list-style: none;
  background-color: var(--color-bg);
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 6px #00000010;
  transition: all 0.5s ease-out;
}

.todo-list .todo {
  cursor: pointer;
  padding-left: 1.8rem;
  transition: all 0.5s ease-in;
}

.todo-list .todo.todo--default {
  padding: 1.25rem 1.5rem;
  justify-content: center;
  color: var(--color-text);
}

.todo-list .todo-action {
  display: flex;
  justify-content: end;
  align-items: stretch;
}

.delete,
.checked {
  border: 2px solid var(--color-primary);
  color: var(--color-white);
  padding: 1.25rem 1.5rem;
  border: none;
}

.delete {
  background-color: var(--color-primary);
}

.checked {
  background-color: var(--color-secondary);
}

.delete img,
.checked img {
  pointer-events: none;
}

.broadcast {
  position: fixed;
  bottom: 3.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 1.8rem 2.5rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.65px;
  box-shadow: 0 0.5rem 2rem #00000020;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-none {
  display: none;
}

.checked-item p {
  color: #999;
  text-decoration: line-through;
}

.fall-out {
  transform: translateX(-30px);
  opacity: 0;
}

.fade-in {
  animation: fade-in 0.1s ease-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    bottom: 0;
  }

  80% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
    bottom: 3.5rem;
  }
}
