:root {
  --color-main: #282828;
  --color-sub: #323232;
  --color-gray: #999;
  --color-dark: #1f1f1f;
  --color-text: #f9fefe;
  --color-text-deemed: #ddd;
  --color-color: #3924ad;
  --border: 1px solid #333;
  --color-white: #fff;
}

body.light-mode {
  --color-main: #efefef;
  --color-sub: #fff;
  --color-dark: #fff;
  --color-text: #333;
  --border: 1px solid #ddd;
  --color-text-deemed: #888;
}

* {
  font-family: 'Lexend Deca', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-text);
}

body {
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.app-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: stretch;
}

.app-sidebar {
  flex-basis: 25%;
  background-color: var(--color-main);
}

.app-main {
  flex-basis: 75%;
  background-color: var(--color-sub);
}

.header {
  padding: 2vh 0;
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  font-size: 20px;
  font-weight: 500;
}

.logo p {
  color: var(--color-gray);
  text-transform: uppercase;
  font-size: 12px;
}

.app-theme button {
  background-color: transparent;
  font-size: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--color-text-deemed);
}
.dark-mode button:hover {
  opacity: 0.9;
}
.note-add {
  border-bottom: var(--border);
}

.note-add > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 0;
}

.note-add h3 {
  color: var(--color-gray);
  font-weight: 500;
}

.note-add button,
.note-delete,
.clear-search {
  font-size: 30px;
  line-height: 1;
  padding: 0 14px 7px 14px;
  display: inline-block;
  background-color: var(--color-color);
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: var(--color-white);
}

.note-add button:hover,
.note-delete:hover,
.clear-search:hover {
  opacity: 0.9;
}

.note-search > .container {
  position: relative;
}

.note-search input {
  width: 100%;
  padding: 3vh;
  display: inline-block;
  text-align: center;
  font-size: 14px;

  cursor: auto;
}

.clear-search {
  font-size: 30px;
  position: absolute;
  left: 0px;
  top: 47%;
  transform: translateY(-50%);
  z-index: 111;
  visibility: hidden;
}

.note-title,
input {
  background: transparent;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  padding-top: 4vh;
  padding-bottom: 3vh;
  padding-left: 7.5%;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.note-selected,
.note-title:hover {
  background-color: var(--color-dark);
}

.note-list {
  list-style: none;
}

.note-list li {
  width: 100%;
  display: flex;
  position: relative;
}

.note-list li:not(:last-child) {
  border-bottom: var(--border);
}

.note-created {
  position: absolute;
  font-size: 12px;
  left: 7.5%;
  top: 0.5rem;
  color: var(--color-gray);
}

.note-delete {
  display: none;
}

.note-selected + .note-delete {
  display: inline-block;
}

.note-summary {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: var(--color-text-deemed);
}

.note-details {
  flex-basis: 75%;

  position: relative;
}

textarea {
  width: 100%;
  min-height: 100vh;
  padding-top: 3.5%;
  padding-left: 5%;
  font-size: 14px;
  border: none;
  outline: none;
  resize: none;
  line-height: 2rem;
  padding-bottom: 2rem;
  background-color: var(--color-sub);
}

.note-updated {
  position: absolute;
  bottom: 0;
  font-size: 12px;
  color: var(--color-gray);
  background: var(--color-main);
  padding: 5px 1rem;
  width: 100%;
}
